market_dataset.csv
executor_log.csv
*.csv


# log
bot_log.txt
*.txt


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Model artifacts
*.pkl
*.joblib